@import 'layout';
@import 'hexagon_grid';
@import 'perspective';
@import 'lang_switch';

$break-xs-min: 0px;
$break-xs-max: 599px;
$break-sm-min: 600px;
$break-sm-max: 899px;
$break-md-min: 900px;
$break-md-max: 1199px;

/*
@include hexagon-inner-grid(2, 0);
@include hexagon-outer-grid(2, 0);
*/

.close-article-btn {
  display: block;
  position: fixed;
  right: 15px;
  top: 12px;
  width: 30px;
  height: 30px;
  z-index: 1001;
  opacity: 0.5;
  transition: right .4s ease;
  &:hover {
    opacity: 1;
  }
  &:before, &:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 4px;
    background-color: #333;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

@media screen and (min-width: $break-xs-min) and (max-width: $break-xs-max) {
  @include hexagon-grid(2, 1);
  .title { font-size: 7vw; }
  aside section, table { font-size: 3.5vw; }
  main {
    padding-top: 14vw;
    height: 254vw;
    .hex-grid {
      transform: rotateX(0);
   
      .hex-offset {
        transform: none;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
  }
}
@media screen and (min-width: $break-sm-min) and (max-width: $break-sm-max) {
  @include hexagon-grid(3, 2);
  .title { font-size: 5vw; }
  aside section, table { font-size: 2.5vw; }
  main {
    margin-top: -27vw;
    height: 140vw;
  }
}
@media screen and (min-width: $break-md-min) and (max-width: $break-md-max) {
  @include hexagon-grid(5, 3);
  .title { font-size: 2.5vw; }
  aside section, table { font-size: 1.25vw; }
  main {
    margin-top: -3vw;
    height: 45vw;
  }
  aside article {
    right: 50%;
  }
  .close-article-btn {
    right: calc(50% + 5px);
  }
}
@media screen and (min-width: $break-md-max) {
  @include hexagon-grid(6, 4);
  .title { font-size: 2vw; }
  aside section, table { font-size: 1vw; }
  main {
    margin-top: -3vw;
    height: 32vw;
  }
  aside article {
    right: 60%;
  }

  .close-article-btn {
    right: calc(60% + 5px);
  }
}

.hex-cell {
  color: #fff;
  a {
    color: #fff;
  }
}

main {
  transition: all .4s ease;
  max-width: 1900px
}

.hex-grid .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // text-align: center;
  width: 100%;
  height: 100%;
  &.resp-image img {
    width: 100%;
  }

  .title, img {
    user-select: none;
    // display: block;
  }
}

label {
  cursor: pointer;
}

article {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background-color: #fff;
  color: #333;
  z-index: 1000;
  transition: right .4s ease;
  padding: 0 15px;
  overflow-y: auto;
  h1 {
    text-align: center;
  }
}

input[type="radio"]:checked + article {
  display: block;
  opacity: .9;
}

input[type="radio"]:checked + .close-article-btn {
  display: none;
}

aside {
  height: 0;
  input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
}
