@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500');
@import 'layout';
@import 'hexagon_grid';
@import 'perspective';
@import 'lang_switch';

$break-xs-max: 599px;
$break-sm-min: 600px;
$break-sm-max: 899px;
$break-md-min: 900px;
$break-md-max: 1199px;
$break-lg-min: 1200px;

@media screen and (max-width: $break-xs-max) {
  @include hexagon-grid(2, 1);
  .title { font-size: 6.5vw; }
  .shadows { display: none; }
  aside section, table { font-size: 14px; }
  main {
    padding-top: 14vw;
    height: 310vw;
    .hex-grid {
      transform: rotateX(0);
      .hex-offset {
        transform: none;
        &:hover { transform: scale(1.2); }
      }
    }
  }
}

@media screen and (min-width: $break-sm-min) and (max-width: $break-sm-max) {
  @include hexagon-grid(3, 2);
  .title { font-size: 4.5vw; }
  aside section, table { font-size: 16px; }
  main {
    margin-top: -38vw;
    height: 170vw;
  }
}

@media screen and (min-width: $break-md-min) and (max-width: $break-md-max) {
  @include hexagon-grid(5, 3);
  .title { font-size: 2.5vw; }
  aside {
    .close-article-btn { right: calc(50% + 5px); }
    article .page.next { right: calc(50% - 8px); }
    article { left: calc(-70% + 10px); }
    input[type="radio"]:checked + article { right: 50%; }
    section, table { font-size: 16px; }
  }
  main {
    margin-top: -6vw;
    height: 60vw;
  }
}

@media screen and (min-width: $break-lg-min) {
  @include hexagon-grid(6, 4);
  .title { font-size: 2vw; }
  aside {
    .close-article-btn { right: calc(60% + 5px); }
    article .page.next { right: calc(60% - 8px); }
    article { left: calc(-60% + 10px); }
    input[type="radio"]:checked + article { right: 60%; }
    section, table { font-size: 17px; }
  }
  main {
    margin-top: -7vw;
    height: 59vw;
  }
}

